
name: API CI Demo

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: 30 13 * * *               #runs on utc only                  
    - cron: 30 2 * * 1   #runs every Mon 8am IST
    - cron: 0 3 1 * *  #runs every 1st of month 8:30am IST   

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Execute Tests
      run: mvn clean test -Dsuite=suite -X

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: Logs
        path: logs/
    

